body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;

}
p{
display: flex;
  justify-content: center;
  text-align: center;
}
h1{
  display: flex;
  justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
}
section{
  display: flex;
  justify-content: center;
}
footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;  
} 
.container{
  display: flex;
  justify-content: center;
  width: 230px;
  height: 200px;
}
.contact-item{
  display: flex;
  justify-content: center; 
} 